* {
    font-family: "roboto", sans-serif;
}

body {
    background: #ddd;
    color: #333333;
    margin-top: 20px;
}

.container {
    display: block;
    width: 400px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}