<html>
  <head>
    <title> <%= title %> </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> <%= title %> </h2>
     <%= text %> <br />
     <%= firstTodo %>
</div>
</body>
</html>